#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Icon=screentime
Name=Screentime
Exec=sh -c "/usr/share/screentime/target/screentime/screentime"
Comment= ANn app for limiting usage of specific app groups
X-GNOME-Autostart-Delay=5

